<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <title>Insert Test Data</title>
</head>

<body ng-app="myapp" ng-controller="mycontroller as ctrl">
    <label>First Name</label>
    <input type="text" name="first_name" ng-model="ctrl.firstname" class="form-control">
    <br />
    <label>Last Name</label>
    <input type="text" name="last_name" ng-model="ctrl.lastname" class="form-control">
    <br />
    <button type="submit" name="btnInsert" ng-click="ctrl.insertData()" value="ADD">ADD</button>
</body>

</html>

<script>
    var app = angular.module("myapp", []);
    app.controller("mycontroller", function ($http) {
        this.insertData = function () {
            $http.post("../php/insert.php",{ 'firstname': this.firstname, 'lastname': this.lastname}
            ).then(function(response) {
              console.log(response.status);
              console.log(response.data);
            }, function(response) {
          console.log(response.data || 'Request failed');
          console.log(response.status);
            });
        }
    });
</script>