<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyA5lsFrqlHJmgACBlD0tTr-FWl-EjVhF6g"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/angular-motion/dist/angular-motion.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/pouchdb/dist/pouchdb.min.js"></script>
    <script src="../node_modules/pouchdb/dist/pouchdb.find.js"></script>
    <script type="text/javascript" src="../node_modules/ngmap/build/scripts/ng-map.js"></script>
    <script type="text/javascript" src="../node_modules/angular-strap/dist/angular-strap.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-google-plus/src/angular-google-plus.js"></script>
    <script type="text/javascript" src="../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="../js/kartofan.gen.js"></script>
    <title>Map Activity</title>
</head>

<body>
<!--         <header class="jumbotron jumbotron-billboard">
                <div class="img"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Kartofan</h1>
                            <p>Tout simplement</p>
                        </div>
                    </div>
                </div>
            </header> -->
    <div class="container" ng-app="kartofan">
        <div id="map" ng-controller="mapActivityCtrl as vm">
            <div class="filters">

                <label for="typeleSelect">Select Type</label>
                <select name="typeleSelect" ng-model="vm.filter.type" ng-change="vm.filterType()">
                    <option value="">Tout</option>
                    <option ng-repeat="type in vm.types" value="{{type}}">{{type}}</option>
                </select>
                <select name="filter-delaiDeLivraison" ng-model="vm.filter.delaiLivraison" ng-change="vm.filterLivraison()">
                    <option value="10">10 min</option>
                    <option value="15">15 min</option>
                    <option value="20">20 min</option>
                    <option value="25">25 min</option>
                </select>
                <!-- <input type="number" name="" id="" ng-model="vm.filter.delaiLivraison" ng-keyup="vm.filterLivraison()" placeholder="livr"> -->
                <select name="filter-prix" ng-model="vm.filter.prix" ng-change="vm.filterPrix()">
                        <option value="10">10 €</option>
                        <option value="15">15 €</option>
                        <option value="20">20 €</option>
                        <option value="25">25 €</option>
                    </select>
                <!-- <input type="number" name="" id="" ng-model="vm.filter.prix" ng-keyup="vm.filterPrix()" placeholder="prix"> -->
                <button type="reset" ng-click="vm.clearAllFilters()">Clear les filtres</button>
            </div>
            <ng-map id="ngmap" center="{{vm.center}}" zoom="{{vm.zoom}}" default-style="false">

                <!-- Home marker -->
                <custom-marker name="home" position="{{vm.currentPosition.position}}">
                    <div>
                        <button type="button" onclick="redirect()" class="btn btn-primary" aria-label="Left Align" data-placement="top-right" title="{{vm.currentPosition.position}}"
                            data-content="{{vm.zoom}}" data-animation="am-flip-x" data-trigger="click" bs-popover>
                            <span class="glyphicon glyphicon glyphicon-home" aria-hidden="true"></span>
                        </button>
                        <!-- On peut ajouter une lien vers page du comte d'utilisateur-->
                    </div>
                    <script>
                            var url = window.location.toString();
                            var email = url.slice(48);
                            function redirect () {
                                window.location.href = "userAccount.html#" + email;
                            }
                        </script>
                </custom-marker>
                <!-- End home marker -->
                <!-- Markers -->

                <custom-marker id="marker-{{$index}}" ng-repeat="marker in vm.markers track by $index" position="{{marker.position}}">
                    <div>
                        <button type="button" class="btn btn-success" aria-label="Left Align" on-mouseover="vm.mouseover()" data-placement="top-right"
                            title='{{marker.titre}} / {{marker.delaiLivraison}}min / {{marker.prix}}€' data-animation="am-flip-x" data-trigger="click" html="true" data-template-url="popover/popover.demo.tpl.html"
                            bs-popover>
                            <span>{{marker.prix}} EUR | {{marker.delaiLivraison}} min</span>
                            <span>{{marker.type}}</span>
                        </button>
                        </p>
                </custom-marker>
                <!-- end ng-repeat -->
                <!-- end markers -->
            </ng-map>
            </div>
        </div>
        <footer>

        </footer>
</body>

</html>

<!-- data-content="Prix : {{p.prix}} Livraison : {{p.delaiLivraison}}" -->